
//version 1
$background: #2ec4b6;
$background-light: #cbf3f0;
$strong: #ff9f1c;  
$strong_light: #ffbf69;

$main_background: #dbcbb746;

// $light_background: #675682;
// $SL_color: #662d5b41;
// $SL_color_hover:  #58214d26;


