.footer__container{
    height: max-content;
    background-color: #212020;
    @include displayFlex(column, center, center);
    width: 100vw;
    position: relative;
    bottom: 0;

    .btn{
        margin-top: 35px;
    }

.contact__msg{
    color: white;
    font-size: 12px;
    position: relative;
    top: 13px;
    padding-top: 5px;

}
  
    .hadar__logo{
        width: 50px;
        margin-left: 10px;
    }

    .social__icons{
        padding: 20px;
        @include displayFlex(row, center, center);

    }

    .social__icon__container{
        border-radius: 50%;
        transition: 0.3s;
        margin: 10px;
        border: 2px solid white;
        height: 45px;
        width: 45px;

        &:hover{
            background-color: $strong;
            transition: 0.3s;
            cursor: pointer;
            border-color: $strong;
        }
    }



    .social__icon{
        width: 20px; 
        margin: 10px;
        
    }


    // .db__logo{
    //     width: 150px;
    //     position: absolute;
    //     right: 20px;

    //     @include mediaMaxWidth(500px){
    //         width: 80px;
           
    //      }
    // }


    .hadar__signature__container{
        @include displayFlex(row, center, center);
        color: white;
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        @include mediaMaxWidth(500px){
            @include displayFlex(column-reverse, space-evenly, center);
        }
        .hadar__logo__container{
            display: flex;
            justify-content: center;
            align-items: center;
            @include mediaMaxWidth(500px){
               margin-top: 15px;
            }
        }
    }

    span{
        padding-left: 20px;
        padding-right: 20px;
        @include mediaMaxWidth(500px){
           display: none;
        }
    }

}