header{
    background-color: $background;
    height: 420px;
    padding-top: 60px;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
    @include mediaMaxWidth(601px){
        height: 375px;
        width: 100vw;
    }
    // @include mediaMaxWidth(500px){
    //     height: 320px;
    //     width: 100vw;
    // }

    // background-image: url("../../src/images/back-dog.jpg"); /* The image used */
    // background-color: #cccccc; /* Used if the image is unavailable */
    // height: 500px; /* You must set a specified height */
    // background-position: center; /* Center the image */
    // background-repeat: no-repeat; /* Do not repeat the image */
    // background-size: cover; /* Resize the background image to cover the entire container */
   

    section{
      position: relative;
      height: 100%;
      z-index: 1;

    }

   img{
       position: relative;
       z-index: 1;
   }

   .header__container{
    @include displayFlex(row, center, center);
    flex-direction: row-reverse;
    height: 100%;
    position: relative;

    
    @include mediaMinWidth(1000px){
        .header__border{
            // height: 82%;
            // width: 106%;
            // border: solid 4px white;
            // position: absolute;
        }
    }

   
    
   }

   .img__section{
    @include mediaMaxWidth(500px){
        width: 150px;
    }
   }

    

    .header__image{
        position: relative;
        right:0px;
        max-width: 316px;
        bottom: -10px;
        @include mediaMaxWidth(710px){
            max-width: 280px;
            bottom: -50px;
        }
        @include mediaMaxWidth(601px){
            max-width: 250px;
            bottom: -40px;
        }
        @include mediaMaxWidth(500px){
            max-width: 200px;
            bottom: -95px;
            right:-15px;
        }
    }

    .text__section{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        z-index: 101;
        justify-content: start;


        .logo__image{
            width: 320px;
            margin: 18px;
            padding-top: 10px;
            margin-right: 0;
            @include mediaMaxWidth(710px){
                width: 280px;
                margin-left: 0;
            }
            @include mediaMaxWidth(601px){
                width: 230px;
                margin-left: 0;
            }
            @include mediaMaxWidth(500px){
                width: 100%;
                margin-left: 0;
            }
        }

        h1{
            font-size: 28px;
            color: white;
            @include mediaMaxWidth(601px){
                font-size: 25px;
            }

            @include mediaMaxWidth(500px){
                font-size: 20px;
            }
        }
        
    }

.header__border__buttom{
    overflow-x: hidden;
    width: 100vw;
    height: 88px;
    position: absolute;
    bottom: -50px;
    border-top: 50px solid transparent;
    border-left: 1800px solid #ffffff;
    border-bottom: 50px solid transparent;
    z-index: 100;
    @include mediaMaxWidth(601px){
        font-size: 25px;
        border-left: 1800px solid #ffffff;
    }
   
}


    .btn{
        // background-color:black;
        border: 2px solid  $background ;
        color: $background;
        margin-top: 30px;
        padding: 8px;
        font-size: 22px;
        font-family:  'Rubik', sans-serif;
        // border: 2px solid $background ;
        // background-color:$background;
        // color: white;
        font-weight: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: unset;
    
        border: 2px solid  $background ;
        color: $background;
        background-color:white;
        @include mediaMaxWidth(500px){
            font-size: 20px;
        }
       
    
        &:hover{
            // border: 2px solid  $background ;
            // color: $background;
            // background-color:white;
    
    
            border: 2px solid white ;
            background-color:$background;
            color: white;
        }
    
    } 




}

