
 .navbar__container__color{
    background: $background;
    // background:  #2729CC;
    transition: 0.3s;
}

.navbar__container{ 
    // background: transparent;
    transition: 0.3s;
    backdrop-filter: blur(2px);
    background-color: #2ec4b68c;
}

#nav{
    height: 60px;
    width: 100vw;
    @include displayFlex(row, unset, center);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    a:first-child{
        margin-right: auto;
    }


    ul{
        @include displayFlex(row, unset, center);
        height: 100%;
        

        a{
            margin-right: auto;
            text-decoration: none;
            color: white;
            transition: 0.3s;    

            &:hover{
                transition: 0.3s;    
                color: black;      
                }
           
        }
    }

        a:first-child{
            margin-right: auto;
        }


        

        li{          
            cursor: pointer;
            height: 100%;
            @include displayFlex(row, center, center);
            
        }


        img{
            width: 80px;
        }

        .navbar__link{
            transition: 0.3s;
            font-size: 18px;
            margin: 24px;
            text-align: center;
            &:hover{
            transition: 0.3s;    
            color: black;      
            }
        }
    }



.mobile__nav{
    

    .mobile__navbar{
        padding-top: 60px;
        transition: 0.3s!important;
        pointer-events: none!important;
        display: flex;
        flex-direction: column!important;
        justify-content: start!important;
        align-items: center;
        position: fixed;
        width: 100vw;
        top: 0;
        opacity: 0;
        color: transparent;
        height: 58vh!important;
        min-height: max-content;
        background-color: #8a2be2;
        background: linear-gradient(to bottom, #f99b3b, $background);
        transform: scaleY(0);
        transform-origin: top;

        a{
            height: 100px;
            margin-right: unset!important;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%
        }

        li{
          
            width: 100vw;
            height: 80px!important;
            margin: unset!important;
            font-size: 25px!important;

        }

       

        .navbar__link{
            margin: auto;
            height: calc((100%-60px) / 3);
    
            &:hover{
               background-color: rgba(255, 255, 255, 0.226);
               color: white!important;
               box-shadow: unset!important;
               border-radius: 0px!important;
            }
    
        }

    }

    .mobile__navbar--on{
        transition: 0.3s;
        pointer-events: all!important;
        transform: scaleY(1);
        transform-origin: top;
        color: white;
        opacity: 1;
        

        a{
            height: 100px;
            opacity: 1;
        }
       
    }

    
}

