.services__section{
    background-color: whitesmoke;
    margin-top: 35px;
    padding-top: 40px;
    padding-bottom: 40px;

        .services__container{
            @include displayFlex(row, center, center);
            padding-top: 30px;
            padding-bottom: 50px;
            @include mediaMaxWidth(950px){
                @include displayFlex(row, space-evenly, center);
                flex-wrap: wrap;
                width: 700px;

            }
            

            .service__container{   
                @include displayFlex(column, unset, center);
                // @include shadow();
                // border-radius: 10px;
                height:280px; 
                // margin-left: 20px;
                width: calc(100% /4);
                transition: 0.3s;
                min-width: 200px;
                margin: 20px;

                &:hover{
                    // transition: 0.3s;
                    // border: solid 3px $strong;
                    // box-shadow: $strong;
                    // --box-shadow-color:  $strong;
                    // box-shadow: 0 0 10px $strong;

                   
    
                  }
        
                img{
                width: 80px;
                padding-top: 10px;
                padding-bottom: 10px;
                }

                h2{
                    font-size: 23px;
                    padding: 10px;
                }

                p{
                    line-height: 1.3;
                    height: 300px;
                    text-align: center;
               
                }

                button{
                    margin-top: auto;
                    margin-bottom: 20px;
                }
            }
            
        }

}


