.services__section{
    background-color: whitesmoke;
    margin-top: 35px;

        .services__container{
            @include displayFlex(row, center, center);
            padding-top: 30px;
            padding-bottom: 50px;
            

            .service__container{   
                @include displayFlex(column, unset, center);
                @include shadow();
                border-radius: 10px;
                height:280px; 
                margin-left: 20px;
                width: calc(100% /4);
                transition: 0.3s;

                &:hover{
                    transition: 0.3s;
                    // border: solid 3px $strong;
                    box-shadow: $strong;
                    --box-shadow-color:  $strong;
                    box-shadow: 0 0 10px $strong;

                   
    
                  }
        
                img{
                width: 80px;
                padding-top: 10px;
                padding-bottom: 10px;
                }

                h2{
                    font-size: 23px;
                    padding: 10px;
                }

                p{
                    padding: 8px;
                    text-align: center;
                }

                button{
                    margin-top: auto;
                    margin-bottom: 20px;
                }
            }
            
        }

}


