.title__conatiner{
    position: relative;
    padding-bottom:20px ;
    .color__circale{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute ;
        background-color: $strong;
        
        top: -12px;
        right: -11px;
    }

    .title__line{
        height: 3px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: $strong;
        width: 120px;
    }

    h2{
        font-size: 30px;
        padding-top: 45px;
        position: relative;
        z-index: 2;
    }
}